/****** Object:  Table [dbo].[test2]    Script Date: 2022/2/10 上午 11:00:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[test2](
	[ID] [int] NOT NULL,
	[Country] [varchar](255) NULL
) ON [PRIMARY]
GO
